# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

ai-langlearn-s3_accessKeys.csv/
ai-langlearn-s3_accessKeys.csv
/ai-langlearn-s3_accessKeys.csv
# typescript
*.tsbuildinfo
next-env.d.ts

lambda_layer/*
lambda_layer/

#AWS Files
launch-template-data.json
capacity-provider.json
cluster-config.json
ecs-service.json
ecs-task-definition.json
task-role-trust-policy.json
trust-policy.json

agent-api-python/env/*
agent-api-python/env/
agent-api-python/venv/*
agent-api-python/venv/
agent-api-python/.vscode/*
agent-api-python/.vscode/
agent-api-python/__pycache__/*
agent-api-python/__pycache__/*

migration.sql
/migration.sql